{% extends "base.html" %}


{% block contenido_cambia %}
    <form action="{% url 'TercerApp' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Agregar">
    </form>
    <br><hr>
    <form action="{% url 'TercerApp'%}">
        {{form_busqueda.as_p}}
        <input type="submit" value="Buscar">
    </form>
    <hr><br>


    {% if paciente %}
        {% for paciente in paciente %}
            <p>nombre: {{ paciente.nombre }}</p>
            <p>apellido: {{ paciente.apellido }}</p>
            <p>numero_paciente: {{ paciente.numero_paciente }}</p>
            <p>ojo_estudio: {{ paciente.ojo_estudio }}</p>
        {% endfor %}
    {% else %}
        <h1>No hay pacientes por el momento</h1>
    {% endif %}

{% endblock %}